html {
  height: 100%;
  font-family: "Permanent Marker", sans-serif;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 300px;
  background-image: linear-gradient(#1584c4, #2E4272);
}
h1{
  margin-bottom: 500px;
  background-color: #e22a11;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  padding: 20px 20px 20px 20px;
  transition: all 1s;
}
h1:hover{
  transform: rotate(360deg);
}
.container {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
  background-color: #2aa811;
}

.screen {
  margin: 0;
  background-color: #df78c0;
  color: #061539;
  font-size: 64px;
  border-radius: 5px;
  padding: 10px;
  cursor: default;
  user-select: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.screen span {
  display: inline-block;
  width: 85px;
  text-align: center;
}

.buttons {
  display: flex;
  margin: 10px -5px 0;
}

.buttons button {
  flex: 1;
  margin: 0 5px;
  border: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: #03143b;
  background-color: #88CC88;
  outline: none;
  cursor: pointer;
}

.buttons button:hover {
  color: #ee420d;
  background-color: #cfd0d4;
}
